.navbar .brand
	background url(/img/brand-icon.png) no-repeat left center
	background-position: -5px 0px
	height 40px
	width 120px
	padding 0
	padding-left 38px
	margin 0
	line-height 40px
footer
	text-align center
	padding-bottom 10px
.auction
	.title
		color darkred
#login-dropdown-list
	left -150px
.item
	td
		line-height 40px
	a.rare
		color #F8CC35
	a.legendary
		color #BF642F
	a.set
		color #8BD442
	.icon
		height 40px
	.icon.rare
		border 1px solid #9B8E3C
		background url(/img/bgs/yellow.png)
	.icon.legendary
		border 1px solid #B07B38
		background url(/img/bgs/orange.png)
	.icon.set
		border 1px solid #748E3D
		background url(/img/bgs/green.png)

//overrides and fixes
.icon-item-gradient
	width: inherit
	height: inherit
