.navbar .brand
	background url(/img/brand-icon.png) no-repeat left center
	background-position: -5px 0px
	height 40px
	width 120px
	padding 0
	padding-left 38px
	margin 0
	line-height 40px
footer
	text-align center
	padding-bottom 10px
.auction
	.title
		color darkred
#login-dropdown-list
	left -150px
.item
	a.rare
		color #F8CC35
	a.legendary
		color #BF642F
	a.set
		color #8BD442
	.icon.rare
		border 1px solid #9B8E3C
	.icon.legendary
		border 1px solid #B07B38
	.icon.set
		border 1px solid #748E3D