.navbar .brand
	background url(/img/brand-icon.png) no-repeat left center
	background-position: -5px 0px
	height 40px
	width 120px
	padding 0
	padding-left 38px
	margin 0
	line-height 40px
.auction
	.title
		color darkred