<template name="auction_page">
	<h1>{{auction.title}}</h1>
	<h3>Current Bid: {{money auction.price}} by {{auction.highestBidder}}</h3>
	<form class="bid">
		{{#if error}}
		<div class="alert alert-error">{{error}}</div>
		{{/if}}
		<input type="text" name="bid" value="0">
		<input type="submit" class="btn" value="Bid">
	</form>
	{{> auction_page_bid_info}}
</template>

<template name="auction_page_bid_info">
	<h5># of Bids: {{auction.bids}}</h5>
	<h5>Last Bid: {{timeago auction.last_bid}}</h5>
	<ul>
	{{#each bids}}
		<li>{{money value}} by {{ownerName}}</li>
	{{/each}}
	</ul>
</template>

<template name="auction_list">
  <div class="auction_list">
    <h4>Auctions</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Current Bid</th>
          <th># of Bids</th>
          <th>Last Bid</th>
        </tr>
      </thead>
      <tbody>
        {{#each all}}
          {{> auction_row}}
        {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="auction_row">
  <tr class="auction {{is_selected}}">
    <td><a class="local" href="/auction/{{_id}}" class="title">{{title}}</span></td>
    <td>{{money price}}</td>
    <td>{{bids}}</td>
    <td>{{timeago last_bid}}</td>
  </tr>
</template>