<template name="bids_page">
  <h4>Recent Bids</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Amount</th>
        <th>Bidder</th>
        <th>Auction</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {{#each bids}}
      <tr>
        <td align="right">{{money value}}</td>
        <td>{{ownerName}}</td>
        <td><a class="local" href="/auction/{{auction}}">{{auctionTitle auction}}</a></td>
        <td>{{timeago time}}</td>
      {{/each}}
    </tbody>
  </table>
</template>

<template name="auction_page">
  <div class="span4 well" >
		<h1>{{auction.title}}</h1>
		Increment: {{money auction.increment}}
		Min Bid: {{money auction.minbid}}
		{{#if auction.highestBidder}}		
			<h3>Current Bid: {{money auction.price}} by {{auction.highestBidder}}</h3>
			{{#if highestBidder}}
				<h3>Your Max Bid: {{money highestBidder}}</h3>
			{{/if}}
		{{else}}
		<h3>No bids</h3>
		{{/if}}
		{{#if currentUser}}
			{{#unless isOwner}}
			<form class="bid form-inline">
				{{#if error}}
				<div class="alert alert-error">{{error}}</div>
				{{/if}}
				<input type="text" name="bid" value="0">
				<input type="submit" class="btn" value="Bid">
			</form>
			{{/unless}}
		{{else}}
			<input type="text" value="Login to Bid" disabled="disabled">
		{{/if}}
		{{> auction_page_bid_info}}
  </div>
  <div class="span8">
		{{> auction_editor}}
		{{> auction_itemlist}}
  </div>
</template>

<template name="auction_page_bid_info">
	{{#if auction.highestBidder}}
	<h5># of Bids: {{auction.bids}}</h5>
	<h5>Last Bid: {{timeago auction.last_bid}}</h5>
	<ul>
	{{#each bids}}
		<li>{{money value}} by {{ownerName}}</li>
	{{/each}}
	</ul>
	{{/if}}
</template>

<template name="auction_list">
  <div class="auction_list">
    <h4>Auctions</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
					<th>Items</th>
          <th>Owner</th>
          <th>Current Bid</th>
          <th>Current Bidder</th>
          <th># of Bids</th>
          <th>Last Bid</th>
        </tr>
      </thead>
      <tbody>
        {{#each all}}
          {{> auction_row}}
        {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="auction_row">
  <tr class="auction {{is_selected}}">
    <td><a class="local" href="/auction/{{_id}}" class="title">{{title}}</span></td>
		<td class="item">
			{{#if itemCount this "rare"}}
			<span class='icon rare'>{{itemCount this "rare"}}</span>
			{{/if}}
			{{#if itemCount this "legendary"}}
			<span class='icon legendary'>{{itemCount this "legendary"}}</span>
			{{/if}}
			{{#if itemCount this "set"}}
			<span class='icon set'>{{itemCount this "set"}}</span>
			{{/if}}
		</td>
    <td>{{ownerName}}</td>
    <td>{{money price}}</td>
    <td>{{highestBidder}}</td>
    <td>{{bids}}</td>
    <td>{{timeago last_bid}}</td>
  </tr>
</template>

<template name="create_dialog">
  {{#if show}}
  <div class="mask"> </div>
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close cancel">&times;</button>
      <h3>Create an Auction</h3>
    </div>
    <form class="form-horizontal" style="margin:0">
      <fieldset>
        <div class="modal-body">
          {{#isolate}}
          {{#if_session "errorMsg"}}
          <div class="alert alert-error">{{this}}</div>
          {{/if_session}}
          {{/isolate}}
          <div class="control-group">
            <label class="control-label" for="title">Title:</label>
            <div class="controls">
              <input type="text" class="span7 title" id="title">
            </div>
          </div>
          <div class="control-group">
      			<label class="control-label" for="duration">Duration</label>
            <div class="controls">
        			<select class="duration" id="duration">
        				{{#each auctionDurations}}
                <option value="{{value}}">{{name}}</option>
                {{/each}}
        			</select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="increment">Increment</label>
            <div class="controls">
              <select class="increment" id="increment">
                {{#each bidIncrements}}
                <option value="{{value}}">{{name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="minbid">Min Bid:</label>
            <div class="controls">
              <input type="text" class="minbid span7" id="minbid">
            </div>
          </div>

    			<p>You can add items and review your auction in the next step.</p>
        </div>

        <div class="modal-footer">
          <button class="btn cancel">Cancel</button>
          <button class="btn btn-primary save">Create</button>
        </div>
      </fieldset>
    </form>

  </div>
  {{/if}}
</template>

<template name="auction_editor">
	{{#if isOwner}}
		{{#if isEditable}}
		<div class="well">
			<form>
				<fieldset>
					<legend>
						Auction Controls
						<button id="start" class="btn btn-success pull-right">Start Auction</button>				  	
					</legend>
					<div class="row-fluid">
						{{#if itemError}}
			        <div class="alert alert-error">{{itemError}}</div>
			      {{/if}}
					  <div class="span4">
							<label>Auction Duration</label>
							<select class='auction_property' id="duration" name="duration">
                {{#each auctionDurations}}
                <option value="{{value}}" {{selected value auction.duration}}>{{name}}</option>
                {{/each}}
							</select>
					  </div>
					  <div class="span4">
						  <label>Minimum Bid</label>
							<input class='auction_property' type="text" id="minbid" name="minbid" placeholder="Minimum Bid (Default = 0)" value="{{auction.minbid}}">
							<label>Bid Increment</label>
							<select class='auction_property' name="increment" placeholder="Bid Incremenent">
								{{#each bidIncrements}}
                <option value="{{value}}" {{selected value auction.increment}}>{{name}}</option>
                {{/each}}
							</select>
					  </div>
					  <div class="span4">
						  <label>Pick an Unidentified Item...</label>
							{{> item_select}}		  					  	
					    <label>and pick how many...</label>
							<input type="text" id="quantity" value="1"><br />
					    <button type="submit" id="add" class="btn btn-success">Add Items to Auction</button>
					  </div>
					</div>
			  </fieldset>
			</form>
		</div>
		{{else}}
		<div class="alert alert-error">
			<button id="stop" class="btn btn-danger pull-right">Stop Auction</button>				  	
			<h5>Bidding has started, you can no longer modify the auction.</h5>
		</div>
		{{/if}}
	{{/if}}
</template>

<template name="item_select">
	<select id="item" class="select">
		{{#each items}}
			<option value="{{slug}}">{{name}}</option>
		{{/each}}
	</select>
</template>

<template name="auction_itemlist">
	<div class="well well-small">
		<table class="table">
			<thead>
				<tr>
					<th>Qty</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
			{{#each auction.items}}
				<tr class="item">
					<td>{{quantity}}</td>
					<td>
						<a class="{{item.quality}}" href="{{item.link}}">
							<img class="icon {{item.quality}}" src="{{item.icon}}" />
							{{item.name}}
						</a>
					</td>
				</tr>
			{{/each}}
			</tbody>
		</table>
	</div>
</template>
