<!-- This is the editable profile, not the public user page. -->
<template name="user_profile">
  <div id="user-profile">
    <div class="span5 well">
      {{#if currentUser}}
        <form class="form-horizontal">
          <fieldset>
            <legend>My Profile</legend>
            {{#if_session "errorMsg"}}
            <div class="alert alert-error">{{this}}</div>
            {{/if_session}}
            {{#if_session "successMsg"}}
            <div class="alert alert-success">{{this}}</div>
            {{/if_session}}
            <div class="control-group">
              <label class="control-label" for="region">Region</label>
              <div class="controls">
                <select class="span8 region" id="region">
                  {{#each global "regions"}}
                  <option {{selected this currentUser.profile.region}}>{{this}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="battletag">BattleTag</label>
              <div class="controls">
                <input type="text" class="span8 battletag" id="battletag" placeholder="i.e. Cain#1742" value="{{currentUser.profile.battletag}}">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn" id="save">Save</button>
              </div>
            </div>
          </fieldset>
        </form>
      {{else}}
        Please log in to access this page.
      {{/if}}
    </div>
    
    <div class="span7 well">
      <form>
        <legend>My Auctions</legend>
        <fieldset>
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Current Bid</th>
                <th>Current Bidder</th>
                <th># of Bids</th>
                <th>Last Bid</th>
              </tr>
            </thead>
            <tbody>
              {{#each myAuctions}}
                <tr>
                  <td><a class="local" href="/auction/{{_id}}" class="title">{{title}}</span></td>
                  <td>{{money price}}</td>
                  <td>{{highestBidder}}</td>
                  <td>{{bids}}</td>
                  <td>{{timeago last_bid}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </fieldset>
      </form>
    </div>
  </div>
</template>